bleurt @ https://github.com/google-research/bleurt/archive/b610120347ef22b494b6d69b4316e303f5932516.zip#egg=bleurt
datasets
numpy
openai
pandas
sentencepiece
transformers @ https://github.com/finetuneanon/transformers/archive/1dd21b074751593bc65a992f90953c974e329511.zip#egg=transformers
t5